@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
  cursor: pointer;
}

a {
  @apply hover:border-b text-blue-600;
}

@layer base {
  .no-spin::-webkit-outer-spin-button,
  .no-spin::-webkit-inner-spin-button,
  .no-spin {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield !important;
  }
}